body {
    background: white;
}

.bigCounter {
    background: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
    display: inline-flex;
}

.bigCounter div {
    background: rgb(33, 33, 33);
    color: white;
    font-size: 60px;
    width:80px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.calendar {
  background: rgb(33, 33, 33);
}
